<h1><%= I18n.t('tests.index.header') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.title')%></th>
      <th><%= t('.level')%></th>
      <th><%= t('.questions')%></th>
    </tr>
  </thead>

  <%= render @tests %>

</table>
