<h1><%= I18n.t('tests.index.header') %></h1>

<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="pointer sort-by-title">
        <%= t('.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-sucess hide' %>
      </th>
      <th><%= t('.level') %></th>
      <th><%= t('.questions') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>

  <%= render @tests %>

</table>
