<p>
  <strong>Test title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<%= link_to 'Edit test', edit_test_path(@test) %>
<%= link_to 'Back', tests_path %>

<p>
  <table>
    <thead>
      <tr>
        <th>Questions</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <% @test.questions.each do |question| %>
      <tbody align="left">
        <tr>
          <td><%= question.body %></td>
          <td><%= link_to 'edit', edit_question_path(question) %></td>
          <td><%= link_to 'delete', question_path(question), method: :delete, data: { confirm: 'Are you shure?' } %></td>
        </tr>
      </tbody>
    <% end %>
  </table>

  <%= link_to 'new question', new_test_question_path(@test) %>
</p>
